---
layout: division
title: Calculators
---
<div class="main-container text">
    <h1>Calculators</h1>
    <div class="flex-list links margin">
        {% for f in site.pages %}
        {% if f.path contains 'calc/' %}
        <a href="{{f.url | remove: '.html'}}">
            <div class="flex-item">
                <div class="info">
                    <div class="title">{{f.title}}</div>
                    <div class="text">{{f.info}}</div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>