---
layout: division
id: index
js: main
---
<div class="banner orange">
	<div class="content">This website is work in progress! Want to stay informed?<br>Follow <a href="https://twitter.com/Division_Builds">@Division_Builds</a> on Twitter or join the DivisionBuilds Discord: <a href="https://discord.me/divisionbuilds">discord.me/divisionbuilds</a></div>
	<span class="close">
		{% include svg-close.html %}
	</span>
</div>
<div class="search-bar">
    <input class="search" type="text" placeholder="Search">
</div>
<div class="build-container">
    <h1 class="divider">Patch 1.7</h1>
    <div class="build-list">
        {% for f in site.pages %}
        {% if f.layout == 'build' and f.path contains '1.7' %}
        <a href="{{f.url | remove: '.html'}}">
            <div class="list-item">
                <div class="title">{{f.title}}</div>
                <div class="info">
                    Author: <span class="author">{{f.author}}</span>
                    <span class="date">Last updated: {{f.date}}</span>
                </div>
                {% if f.tags %}
                <div class="tags">
                    {% for t in f.tags %}
                    <span class="tag">{{t}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <h1 class="divider">Patch 1.6</h1>
    <div class="build-list">
        {% for f in site.pages %}
        {% if f.layout == 'build' and f.path contains '1.6' %}
        <a href="{{f.url | remove: '.html'}}">
            <div class="list-item">
                <div class="title">{{f.title}}</div>
                <div class="info">
                    Author: <span class="author">{{f.author}}</span>
                    <span class="date">Last updated: {{f.date}}</span>
                </div>
                {% if f.tags %}
                <div class="tags">
                    {% for t in f.tags %}
                    <span class="tag">{{t}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>