{% assign current = page.url | downcase | split: '/' %}
<div class="nav-bar">
    <a href="/">
    	<div class="nav-bar-item{% if current.last == nil or current.last == 'index.html' %} active{% endif %}">Home</div>
    </a>
    <a href="/submit">
    	<div class="nav-bar-item{% if current.last == 'submit.html' %} active{% endif %}">Submit a build</div>
    </a>
    <a href="/database">
        <div class="nav-bar-item{% if current contains 'database' %} active{% endif %}">Database</div>
    </a>
    <a href="/calc">
    	<div class="nav-bar-item{% if current.last == 'calc.html' or current contains 'calc' %} active{% endif %}">Calculators</div>
    </a>
    <a href="/feedback">
    	<div class="nav-bar-item{% if current.last == 'feedback.html' %} active{% endif %}">Feedback</div>
    </a>
</div>