---
layout: division
title: Gear Talents
alttitle: Division Builds Database
info: All current Gear Talents.
---
<div class="main-container text database" id="gear-talents">
    <h1>Gear Talents</h1>
    <div class="flex-list margin">
    	{% assign t = 'chest backpack mask gloves knee-pads holster' | split: ' ' %}
    	{% assign g = ' ' | split: ' ' %}
    	{% for i in t %}
    		{% assign d = site.data.gear_talents | where: 'type', i %}
    		{% for x in d %}
    			{% assign g = g | push: x %}
    		{% endfor %}
    	{% endfor %}
    	{% for f in g %}
        {% if f.exotic %}
            {% assign t = 'exotic' %}
        {% else %}
            {% assign t = 'he' %}
        {% endif %}
        <div class="flex-item">
            <div class="icon {{t}} {{f.type}}"></div>
            <div class="info">
                <div class="title {{t}}">{{f.name}}</div>
                <div class="bonuses">
                    <div class="bonus">
                        <span class="text">{{f.description}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>