---
layout: division
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
	    <meta charset="UTF-8">
	    <title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.name }}</title>
	    <meta name="description" content="{{site.description}}"/>
	    <meta name="author" content="{{site.author}}"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {% if site.google_analytics %} {% include analytics.html %} {% endif %}
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	    <link rel="stylesheet" href="css/normalize.css">
	    <link rel="stylesheet" href="css/division.css">
	    <script type="text/javascript" src="js/jquery.min.js"></script>
	    <script type="text/javascript" src="js/division.js"></script>
	    {% if page.js %} <script type="text/javascript" src="js/division-{{page.js}}.js"></script> {% endif %}
	</head>
  	<body>
		{{ content }}
		<div class="footer">
			<a href="submit">Submit a build</a> | <a href="about">About</a> | <a href="https://github.com/DivisionBuilds/divisionbuilds.github.io">Github</a>
		</div>
	</body>
</html>
