---
layout: division
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
	    <meta charset="UTF-8">
	    <title>The Division Builds</title>
	    <meta name="description" content=""/>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="../css/normalize.css">
	    <link rel="stylesheet" href="../css/division.css">
	    <script type="text/javascript" src="../js/jquery.min.js"></script>
	    <script type="text/javascript" src="../js/division.js"></script>
	</head>
  	<body>
		{{ content }}
		<div class="footer">
			<a href="about">About</a>
		</div>
	</body>
</html>
